.heading {
    text-align: center;
     font-family: initial;
    text-decoration:underline;
    color: black
}
.first {
    margin: 0px;
    padding: 0px auto;
    display:
    
}
.left {

    float: left;
    width: 74%;

}
.right {
    border: 1px solid;

    float: right;
    width: 23%;
}
.columns1 {
    color: #8a8a8a;
    transition: color 0.5s;
    float: left;
    width: 30%;
}
.columns2 {
    color: #8a8a8a;
    transition: color 0.5s;
    float: left;
    width: 30%;
}
.columns3 {
    color: #8a8a8a;
    transition: color 0.5s;
    float: left;
    width: 30%;

}
.columns2:hover {
    color: black;
}
.columns3:hover {
    color: black;
}
.columns1:hover {
    color: black;
}