.homepage {
    font-size: 21px;
}
.some {
    padding: 0;
    margin: 0;
}
.container span {
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-family: sans-serif;
}
.text1 {
    color: white;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 15px;
    position: relative;
    animation: text 3s 1;
    background: peru;
}
@keyframes text {
    0% {
        color: peru;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 15px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
.text2 {
    font-size: 28px;
    color: red; 

}
.search-box {
    position: absolute;
    background:#2f3640;
    border-radius: 30px;
    height: 37px;
    padding: 14px;
    text-align: right;
    float: left;
    width: 220px;
}
.search-box:hover > .search-txt {
   width: 240px;
   padding: 0 6px;

}
.search-box:hover > .search-btn {
    background: white;

}
.search-btn {
    color:red;
    float: right;
    width: 65px;
    height: 13px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    line-height: 28px;
    width: 0px;
} 
.heading {
    text-align: center;
     font-family: initial;
    text-decoration:underline;
    color: black
}
.first {
    margin: 0px;
    padding: 0px auto;
    
}
.left {
    height: 75vh;
    width: 100%;
    display: block;
    overflow: hidden;
    background-origin: padding-box;


}
.myhobbie {
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url("b947c0f7bdf2255b5fc6afe95507fd2b.jpg");
    font-family: 'Josefin Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
.hobbiesName {
    width: 45%;
    height: 100vh;
    float: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 23px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.hobbiesName a {
    text-decoration: none;
    padding: 10px 18px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 4px;
    font-size: 25px;
    letter-spacing: 2px;
}
.hobbiesName h3 {
    transition: 0.5s;
}
.hobbiesName h3:hover {
    color: red;
}
.hobbiesName .btnone:hover {
    background: #00b894;
}
.hobbiesName .btntwo:hover {
    background: #fff
}
.btnone {
    transition: 0.5s;
    background: #fff;
    color: #000;
}
.btntwo {
    background: #00b894;
    color:#000;
}

.columns1 {
    color: red;
    transition: color 0.5s;
    float: left;
    width: 30%;
}
.columns2 {
    color:red;
    transition: color 0.5s;
    float: left;
    width: 30%;
}
.columns3 {
    color: red;
    transition: color 0.5s;
    float: left;
    width: 30%;
}
.columns2:hover {
    color: black;
}
.columns3:hover {
    color: black;
}
.columns1:hover {
    color: black;
}
.homepage {
    display: flex;
    justify-content: space-between;
}
.home {
    text-transform: uppercase;
    color: black;
    height: 22px;
    border-bottom: 1px solid;
    transition: border-bottom 0.5s;

}
.about {
    height: 22px;
    border-bottom: 1px solid;
    transition: border-bottom 0.5s;
    color: black;
    text-transform: uppercase;
}
.about a {
    text-decoration: none;
    color:black;
    transition: 0.5s;
    
}
.about :hover {
    border-bottom: 1px solid chartreuse;

}
.about a:hover {
      color: chartreuse;        
}
.home a {
    text-decoration: none;
    transition: 0.5s;
    color:black;
}
.home :hover {
    border-bottom: 1px solid chartreuse;

}
.home a:hover {
      color: chartreuse;        
}